<div style="display: row;">
<div><h2>Educación</h2></div> <div><button>Editar</button>
</div>
<div class="contenido">
<ul>
    <li>EGB3 y polimodal bilingüe. Modalidad Humanidades y ciencias sociales, Colegio Nueva Concepción (Marzo 2012 - Diciembre 2017)</li>
    <li>Ingeniería Mecanica, Universidad Nacional de Tucumán (Marzo 2018 - Octubre 2022)</li>
    <li>Ingeniería Mecanica, Universidad Tecnologica Nacional - Facultad Regional Tucumán (Octubre 2022 - Presente)</li>

</ul>
<h2>Reconocimientos Otorgados</h2>
<ul>
    <li>Intercambio en Ashford School, Ashford,
        Kent, Inglaterra. Curso de inglés
        certificado por "Concorde International".</li>
    <li> Presidente del Centro de Estudiantes del Colegio Nueva Concepción</li>
</ul>
<h2>Idiomas</h2>
<ul>
    <li>Español (Lengua Materna)</li>
    <li>Ingles (Avanzado)</li>
    <li>Aleman (Basico)</li>
</ul>
</div>