ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    display: inline;
    font-family:'Varela', sans-serif;
    text-decoration: none;
    justify-content: space-between;
}
li a {
    
    text-decoration: none;
}
li a:hover {
    background-color: rgb(34, 114, 255);
   
 }


.background {
    background-color: rgb(34, 114, 255);
}
.color {
        color: black;
}