<div class="grid-container">
    <div class="grid-item"><app-header></app-header></div>
    <div class="grid-item"><app-navbar></app-navbar></div>
    <div class="grid-item"><app-tools></app-tools></div>
    <div class="grid-item">
        <div class="foto">
        <app-foto></app-foto>
        </div>
    </div>
    <div class="grid-item"><app-review></app-review></div>
    <div class="grid-item"><app-educacion></app-educacion></div>
    <div class="grid-item"><app-cv></app-cv></div>
    <div class="grid-item"><app-contacto></app-contacto></div>
</div>