<h2>Perfil Personal</h2>
<p>Me describo como una persona confiable y comprometida con una fuerte ética de trabajo y un enfoque dedicado para lograr el éxito en mi campo. Tengo fuertes habilidades organizativas y atención al detalle, que junto con mis habilidades comunicativas, me permiten aportar a  proyectos complejos y cumplir con plazos ajustados.</p>
<p>Disfruto resolviendo problemas y planificando actividades, y me apasiona enfrentar nuevos desafíos que me permitan seguir creciendo profesionalmente. Siempre estoy dispuesto/a a compartir mis conocimientos y habilidades para contribuir en equipo y lograr los objetivos de la organización.</p>

