body {
    /*background: linear-gradient(Black 50%, rgb(34, 114, 255));*/
    background-color: rgb(34, 114, 255);
    color: white;
    padding-left: 10px;
    padding-right: 100px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 6px;
    margin: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.ng-valid:not(form).ng-touched   {
    border: 5px solid #42A948; /* green */
  }
 
.ng-invalid:not(form).ng-touched  {
    border: 5px solid #a94442; /* red */
  }