body {
    /*background: linear-gradient(Black 50%, rgb(34, 114, 255));*/
    background-color: rgb(34, 114, 255);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3%;
    border-style: solid;
    border-color: white;
    border-width: 3%;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.ng-valid:not(form).ng-touched   {
    border: 5px solid #42A948; /* green */
  }
 
.ng-invalid:not(form).ng-touched  {
    border: 5px solid #a94442; /* red */
  }
 .foto {
  display: flex;
  align-items: center;
  justify-content: center;
 }